:root {
    /* normal theme */
    --background_color_normal: white;
    --text_color_normal: black;
    --text_color_anti_normal: white;
    --button_color_normal: white;
    --button_text_color_checked_normal: white;
    --button_filter_color_checked_normal: rgb(100, 100, 255);
    --button_keyword_color_checked_normal: rgb(107, 0, 152);
    --button_keyword_color_unable_normal: #e9ecef;
    --button_keyword_color_input_able_normal: white;
    --button_keyword_color_input_unable_normal: #e9ecef;
    --button_other_color_checked_normal: rgb(50, 155, 50);
    --button_sortby_normal: #eeeeee;
    --button_primary_normal: #007bff;
    --button_warning_normal: #ffc107;
    --button_danger_normal: #dc3545;
    --button_success_normal: #28a745;
    --text_tag_color_normal: white;
    --monsterid_color_normal: black;
    --text_monsterid_color_normal: white;
    --tooltip_color_normal: black;
    --text_tooltip_color_normal: white;
    --text_name_tooltip_color_normal: yellow;
    --text_refine_tooltip_color_normal: orange;
    --text_recall_tooltip_color_normal: #91DFF3;
    --text_charge_tooltip_color_normal: #FF6666;
    --text_charge_sort_color_normal: #5A01C5;
    
    
    /* dark theme */
    --background_color_dark: #363636;
    --text_color_dark: #AAAAAA;
    --text_color_anti_dark: #AAAAAA;
    --button_color_dark: white;
    --button_text_color_checked_dark: #AAAAAA;
    --button_filter_color_checked_dark: rgb(100, 100, 255, 0.6);
    --button_keyword_color_checked_dark: rgb(107, 0, 152, 0.6);
    --button_keyword_color_unable_dark: #232323;
    --button_keyword_color_input_able_dark: transparent;
    --button_keyword_color_input_unable_dark: #232323;
    --button_other_color_checked_dark: rgb(50, 155, 50, 0.3);
    --button_sortby_dark: #666666;
    --button_primary_dark: #003070;
    --button_warning_dark: #786004;
    --button_danger_dark: #661823;
    --button_success_dark: #145323;
    --text_tag_color_dark: #AAAAAA;
    --monsterid_color_dark: black;
    --text_monsterid_color_dark: #AAAAAA;
    --tooltip_color_dark: black;
    --text_tooltip_color_dark: #AAAAAA;
    --text_name_tooltip_color_dark: #9A9A00;
    --text_refine_tooltip_color_dark: #CC8300;
    --text_recall_tooltip_color_dark: #70ADD1;
    --text_charge_tooltip_color_dark: #AA4444;
    --text_charge_sort_color_dark: #B088FF;

    
    /* theme replacing */
    --background_color: var(--background_color_normal);
    --text_color: var(--text_color_normal);
    --text_color_anti: var(--text_color_anti_normal);
    --button_color: var(--button_color_normal);
    --button_text_color_checked: var(--button_text_color_checked_normal);
    --button_filter_color_checked: var(--button_filter_color_checked_normal);
    --button_keyword_color_checked: var(--button_keyword_color_checked_normal);
    --button_keyword_color_unable: var(--button_keyword_color_unable_normal);
    --button_keyword_color_input_able: var(--button_keyword_color_input_able_normal);
    --button_keyword_color_input_unable: var(--button_keyword_color_input_unable_normal);
    --button_other_color_checked: var(--button_other_color_checked_normal);
    --button_sortby: var(--button_sortby_normal);
    --button_primary: var(--button_primary_normal);
    --button_warning: var(--button_warning_normal);
    --button_danger: var(--button_danger_normal);
    --button_success: var(--button_success_normal);
    --text_tag_color: var(--text_tag_color_normal);
    --monsterid_color: var(--monsterid_color_normal);
    --text_monsterid_color: var(--text_monsterid_color_normal);
    --tooltip_color: var(--tooltip_color_normal);
    --text_tooltip_color: var(--text_tooltip_color_normal);
    --text_name_tooltip_color: var(--text_name_tooltip_color_normal);
    --text_refine_tooltip_color: var(--text_refine_tooltip_color_normal);
    --text_recall_tooltip_color: var(--text_recall_tooltip_color_normal);
    --text_charge_tooltip_color: var(--text_charge_tooltip_color_normal);
    --text_charge_sort_color: var(--text_charge_sort_color_normal);
}

body {
    font-family: Microsoft JhengHei;
    background-color: var(--background_color);
    color: var(--text_color);
}
.filter[type=checkbox] {
    display: none;
}
.filter[type=checkbox]:checked + label.filter-btn {
    background-color: var(--button_filter_color_checked); 
    color: var(--button_text_color_checked); 
    font-weight: bold;
}
.filter[type=checkbox]:checked + label.keyword-btn {
    background-color: var(--button_keyword_color_checked); 
    color: var(--button_text_color_checked); 
    font-weight: bold;
}
.filter[type=checkbox]:checked + label:not(.filter-btn):not(.keyword-btn) {
    background-color: var(--button_other_color_checked); 
    color: var(--button_text_color_checked); 
    font-weight: bold;
}
.filter[type=checkbox] + label {
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid var(--text_color);
    border-radius: 5px;
}
.navbar-brand, .navbar-brand:hover {
    font-size: 1.44em;
    color: #d6d6d6;
    text-decoration: none;
}
.filter {
    width: 80%;
}
hr {
    width: 100%;
    border-color: var(--text_color);
    opacity: 0.2;
}
input[type=range]{
    width: 60%;
}
input[type=text]{
    text-align: center;
}
select {
    width: 100%;
    border-radius: 5px;
}

#tool_title {
    text-align: center;
}
.row_title {
    font-size: 2.6em;
}
.genre_label {
    font-size: 2.2em;
}
.btn-shell {
    padding: 3px;
}
.filter-btn, .attr-btn, .race-btn, .star-btn, .charge-btn, .keyword-btn {
    font-size: 1.2em;
    font-weight: normal;
    color: var(--text_color);
    text-align: center;
    border: 1px solid var(--text_color);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 0;
}
.skill-group {
    width: 100%;
    margin: 30px 0;
}

.top-btn {
    font-size: 1.2em;
}
.sort_by {
    color: var(--text_color);
    background-color: var(--button_sortby);
}
.reset {
    color: var(--text_color_anti);
}
.and_or_mode {
    color: var(--text_color);
}
.start-btn {
    color: var(--text_color_anti);
}
.btn-primary {
    background-color: var(--button_primary);
    border-color: var(--button_primary);
}
.btn-warning {
    background-color: var(--button_warning);
    border-color: var(--button_warning);
}
.btn-danger {
    background-color: var(--button_danger);
    border-color: var(--button_danger);
}
.btn-success {
    background-color: var(--button_success);
    border-color: var(--button_success);
}
.result {
    margin: 8px 0;
}
.tag_wrapper {
    width: 25%;
    padding: 5px;
}
.skill_tag, .genre_tag {
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    color: var(--text_tag_color);
    text-align: center;
    padding: 5px;
    cursor: default;
}
.skill_tag {
    background-color: var(--button_filter_color_checked);
}
.genre_tag {
    background-color: var(--button_other_color_checked);
}
.monster_img {
    width: 100%;
    cursor: pointer;
}
.monster_img:focus {
    outline: 3.5px #FF6666 dashed;
}
.monsterId {
    width: 100%;
    text-align: center;
    background-color: var(--monsterid_color);
    color: var(--text_monsterid_color);
    font-weight: bold;
    font-size: 1em;
}
.monsterId a {
    text-decoration: none;
    color: var(--text_monsterid_color);
}

.charge_num_div {
    font-size: 1.7em;
    font-weight: bold;
    color: var(--text_charge_sort_color);
}
.charge_num_hr_top {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.3);
    margin: 10px 0;
}
.charge_num_hr_bottom {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0,0,0,0.4);
    border-bottom: 1px solid rgba(255,255,255,0.8);
    margin: 10px 0;
}

.popover {
    background-color: var(--tooltip_color);
    max-width: 450px;
    min-width: 450px;
    border: 1px rgba(255, 255, 255, 0.4) solid;
}
@media (max-width:450px) {
    .popover {
        background-color: var(--tooltip_color);
        max-width: 300px;
        min-width: 300px;
        border: 1px rgba(255, 255, 255, 0.4) solid;
    }
}
.popover-body {
    width: 100%;
    max-height: 250px;
    font-size: 1.4em;
    word-wrap: break-word;
    text-align: left;
    color: var(--text_tooltip_color);
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}
.popover .arrow:before, .popover .arrow:after {
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
}
.popover hr {
    margin: 3px 0;
    border: 1px solid #eeeeee;
}
.skill_tooltip {
    font-family: Microsoft JhengHei;
    margin: auto;
}
.skill_name {
    color: var(--text_name_tooltip_color);
    font-weight: bold;
    text-align: left;
    white-space: pre-wrap;
}
.skill_name_refine {
    color: var(--text_refine_tooltip_color);
    font-weight: bold;
    text-align: left;
    white-space: pre-wrap;
}
.skill_name_recall {
    color: var(--text_recall_tooltip_color);
    font-weight: bold;
    text-align: left;
    white-space: pre-wrap;
}
.skill_combine {
    color: var(--text_name_tooltip_color);
    font-weight: bold;
    min-width: 300px;
}
.skill_description {
    margin-bottom: 10px;
    width: 100%;
}
.skill_charge {
    color: var(--text_charge_tooltip_color);
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}
.skill_combine img {
    width: 50px;
    height: 50px;
}

.toTop {
    width: 3rem;
    height: 3rem;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 20%;
    opacity: 0.6;
    background: #000;
    cursor: pointer;
    position:fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
}
.toTop::before, .toTop::after {
    width: 25px;
    height: 6px;
    border-radius: 3px;
    background: #FFF;
    position: absolute;
    content: "";
}
.toTop::before {
    transform: rotate(-45deg) translate(0, -50%);
    left: 0.42rem;
}
.toTop::after {
    transform: rotate(45deg) translate(0, -50%);
    right: 0.42rem;
}
.toTop:focus {
    outline: none;
}



.changeTheme {
    width: 3rem;
    height: 3rem;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 20%;
    opacity: 0.6;
    background: #000;
    color: white;
    cursor: pointer;
    position:fixed;
    font-size: 1.8rem;
    left: 1rem;
    bottom: 1rem;
    display: inline-block;
}
.changeTheme:focus {
    outline: none;
}

#keyword-input {
    font-size: 1em;
    font-weight: normal;
    color: black;
    text-align: center;
    border: 1px solid var(--button_keyword_color_input_unable);
    background-color: var(--button_keyword_color_input_unable);
    border-radius: 5px;
}